<!DOCTYPE html>
<html lang="en">
    <head>
        <title>АкваЛюкс Фильтры для Воды</title>
        <meta name="keywords" content="фильтры, очистка воды, черкассы, промышленная очистка, системы обратного осмоса, консультации, подбор, купить, магазин, здоровье" />
        <meta name="description" content="Специализированный магазин очистки воды в Черкассах Консультация по подбору фильтра для воды." />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link rel="shortcut icon" href="PUT YOUR FAVICON HERE">-->

        <!-- Google Web Font Embed -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <!-- <link href="js/colorbox/colorbox.css"  rel='stylesheet' type='text/css'> -->
        <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data_turbolinks-track" => true %>
        <!-- <%= javascript_include_tag "fresh", "data_turbolinks-track" => true %> -->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="aqualuks-top-bar_" id="aqualuks-top">
        <!--     <div class="container"> -->
        <!--         <div class="subheader"> -->
        <!--             <div id="phone" class="pull-left"> -->
        <!--                 <i class='fa fa-phone' alt="phone"/></i> -->
        <!--                     +38-0472-56-96-99 -->
        <!--             </div> -->
        <!--             <div id="email" class="pull-right"> -->
        <!--                 <i class='fa fa-envelope' alt="phone"/></i> -->
        <!--                     aqualuks.filters@gmail.com -->
        <!--             </div> -->
        <!--         </div> -->
        <!--     </div> -->
        </div>
        <div class="aqualuks-top-menu">
            <div class="container">
                <!-- Static navbar -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                                <a href="#" class="navbar-brand"><img src=<%= asset_path('logo.png') %> alt="Urbanic free HTML5 template" title="Urbanic HTML5 Template" /></a>
                        </div>
                        <div class="navbar-collapse collapse" id="aqualuks-nav-bar">
                            <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;">
                                <li class="active"><a href="#aqualuks-top">ГЛАВНАЯ</a></li>
                                <li><a href="#aqualuks-about">О НАС</a></li>
                                <!-- <li><a href="#aqualuks-portfolio">PORTFOLIO</a></li> -->
                                <li><a href="#aqualuks-blog">СТАТЬИ</a></li>
                                <!-- <li><a rel="nofollow" href="http://www.google.com" class="external-link">EXTERNAL</a></li> -->
                                <li><a href="#aqualuks-contact">СВЯЗАТЬСЯ С НАМИ</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </div><!--/.navbar -->
            </div> <!-- /container -->
        </div>

        <div class='home'>
          <!-- <video id='bgvid' autoplay poster=''> -->
          <!--   <source src=<%= asset_path('waterdrop.mp4')%> > -->
          <!--   <source src=<%=asset_path('Water_Wave_Warp_720.webm')%> type="video/webm"> -->
            <!-- </video> -->
              <!-- Carousel -->
              <div id="aqualuks-carousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <!-- <ol class="carousel-indicators"> -->
                  <!--     <li data-target="#aqualuks-carousel" data-slide-to="0" class="active"></li> -->
                  <!--     <li data-target="#aqualuks-carousel" data-slide-to="1"></li> -->
                  <!--     <li data-target="#aqualuks-carousel" data-slide-to="2"></li> -->
                  <!-- </ol> -->
                  <div class="carousel-inner">
                      <div class="item active">
                          <video id='bgvid' autoplay poster=''>
                            <source src=<%= asset_path('Water_Wave_Warp.mp4')%> >
                            <source src=<%= asset_path('Water_Wave_Warp_720.webm')%> type="video/webm">
                          </video>
                          <div class="container">
                              <div class="carousel-caption">
                                <h1>АкваЛюкс</h1>
                                <p>ЧИСТОТА И ЗДОРОВЬЕ</p>
                                <!-- <p><a class="btn btn-lg btn-green" href="#" role="button" style="margin: 20px;">View Demo</a> -->
                                	<!-- <a class="btn btn-lg btn-orange" href="#" role="button">Free Download</a></p> -->
                            </div>
                        </div>
                    </div>

<!--                     <div class="item"> -->
<!--                         <div class="container"> -->
<!--                                 <div class="carousel-caption"> -->
<!--                                     <div class="col-sm-6 col-md-6"> -->
<!--                                     	<h1>FLUID</h1> -->
<!--                                         <p>Suspendisse pellentesque, odio vel ultricies interdum, mauris nulla ullamcorper magna, non aliquet odio velit aliquam augue.</p> -->
<!--                                     </div> -->
<!--                                     <div class="col-sm-6 col-md-6"> -->
<!--                                     	<h1>ENERGY</h1> -->
<!--                                         <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam mattis fringilla urna.</p> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                         </div> -->
<!--                     </div> -->
                        <!-- <div class="item"> -->
                        <!--     <div class="container"> -->
                        <!--         <div class="carousel-caption"> -->
                        <!--         	<h1>RESPONSIVE LAYOUT</h1> -->
                        <!--             <p>This template is free to download and use for any website. This is a mobile-ready layout using Bootstrap framework.</p> -->
                        <!--             <p><a class="btn btn-lg btn-orange" href="#" role="button">Read More</a></p> -->
                        <!--         </div> -->
                        <!--     </div> -->
                        <!-- </div> -->
                </div>
                <!-- <a class="left carousel-control" href="#aqualuks-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> -->
                <!-- <a class="right carousel-control" href="#aqualuks-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> -->
            </div><!-- /#aqualuks-carousel -->
        </div>

        <!-- <div class="aqualuks-welcome" id="aqualuks-welcome"> -->
        <!--     <div class="container"> -->
        <!--         <div class="aqualuks-slogan text-center"> -->
        <!--             <span class="txt_darkgrey">АкваЛюкс </span> -->
        <!--             <1!-- <span class="txt_orange">Urbanic Design</span> --1> -->
        <!--             <p class="txt_slogan"><i>чистота и здоровье</i></p> -->
        <!--         </div> -->
        <!--     </div> -->
        <!-- </div> -->

        <div class="aqualuks-service">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="aqualuks-service-item">
                            <div>
                                <img src="images/leaf.png" alt="icon" />
                                <span class="aqualuks-service-item-header">УСЛУГА 1</span>
                            </div>
                            <p>Nam porta adipiscing tortor, eget rutrum turpis bibendum ut. Donec eu lacus in diam euismod imperdiet eu ut turpis. Morbi felis orci, tincidunt pretium laoreet id, euismod et lacus. Praesent aliquet magna vitae mi elementum pharetra.</p>
                            <div class="text-center">
                            	<a href="#"
                                	class="aqualuks-btn-read-more btn btn-orange">READ MORE</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-4">
                        <div class="aqualuks-service-item" >
                            <div>
                                <img src="images/mobile.png" alt="icon"/>
                                <span class="aqualuks-service-item-header">УСЛУГА 2</span>
                            </div>
							<p><a rel="nofollow" href="http://www.aqualuks.com/preview/aqualuks_395_urbanic">Urbanic</a> is free responsive HTML5 template by templatemo. Credits go to <a rel="nofollow" href="http://getbootstrap.com">Bootstrap</a> for responsive layout and <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for images used in this free template. Curabitur non eros ut dolor tincidunt interdum sit amet vitae quam.</p>
                            <div class="text-center">
                                <a href="#"
                                	class="aqualuks-btn-read-more btn btn-orange">READ MORE</a>
                            </div>
                            <br class="clearfix"/>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="aqualuks-service-item">
                            <div>
                                <img src="images/battery.png" alt="icon"/>
                                <span class="aqualuks-service-item-header">УСЛУГА 3</span>
                            </div>
                            <p>Morbi imperdiet ipsum sit amet dui pharetra, vulputate porta neque tristique. Quisque id turpis tristique, venenatis erat sit amet, venenatis turpis. Ut tellus ipsum, posuere bibendum consectetur vel, egestas sit amet erat. Morbi rhoncus leo fermentum viverra.</p>
                            <div class="text-center">
                                <a href="#"
                                	class="aqualuks-btn-read-more btn btn-orange">READ MORE</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        <br class="clearfix"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="aqualuks-team" id="aqualuks-about">
            <div class="container">
                <div class="row">
                    <div class="aqualuks-line-header">
                        <div class="text-center">
                            <hr class="team_hr team_hr_left"/><span>НЕ МНОГО О СЕБЕ</span>
                            <hr class="team_hr team_hr_right" />
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                    <ul class="row row_team">
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div class="text-center">
                                <div class="member-thumb">
                                    <img src="images/member1.jpg" class="img-responsive" alt="member 1" />
                                    <!-- <div class="thumb-overlay"> -->
                                    <!--     <a href="#"><span class="social-icon-fb"></span></a> -->
                                    <!--     <a href="#"><span class="social-icon-twitter"></span></a> -->
                                    <!--     <a href="#"><span class="social-icon-linkedin"></span></a> -->
                                    <!-- </div> -->
                                </div>
                                <div class="team-inner">
                                    <p class="team-inner-header">Борис</p>
                                    <p class="team-inner-subtext">Директор</p>
                                </div>
                            </div>
                        </li>
                        <li class='col-md-9 col-sm-6'>
                          <div class="">
                            <h4>Меня зовут Борис и я основатель магазина Аквалюкс. Я начал это дело потому что... На сегодняшний день мы единственный специализированный магазин по очистке воды в Черкассах. Бла бла бла Немного о себе тут надо рассказать </h4>
                          </div>
                        </li>
                    </ul>
            </div>
        </div><!-- /.aqualuks-team -->


        <div id="aqualuks-blog">
            <div class="container">
                <div class="row">
                    <div class="aqualuks-line-header" style="margin-top: 0px;" >
                        <div class="text-center">
                            <hr class="team_hr team_hr_left hr_gray"/><span class="span_blog txt_darkgrey">СТАТЬИ</span>
                            <hr class="team_hr team_hr_right hr_gray" />
                        </div>
                    </div>
                    <br class="clearfix"/>
                </div>

                <div class="blog_box">
                    <div class="col-sm-5 col-md-6 blog_post">
                        <ul class="list-inline">
                            <li class="col-md-4">
                                <a href="#">
                                    <img class="img-responsive" src="images/blog-image-1.jpg" alt="gallery 1" />
                                </a>
                            </li>
                            <li  class="col-md-8">
                                <div class="pull-left">
                                    <span class="blog_header">СТАТЬЯ 1</span><br/>
                                    <!-- <span>Posted by : <a class="link_orange" href="#"><span class="txt_orange">Tracy</span></a></span> -->
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-orange" href="#" role="button">Читать полностью</a>
                                </div>
                                <div class="clearfix"> </div>
                                <p class="blog_text">
                                    Aliquam quis rutrum risus, ut condimentum ipsum. Nullam aliquet libero augue, eget auctor felis vulputate id. Proin a enim eu libero ornare malesuada. Sed iaculis fringilla lacinia. Sed laoreet lectus vitae [...]
                                </p>
                            </li>
                        </ul>
                    </div> <!-- /.blog_post 1 -->

                    <div class="col-sm-5 col-md-6 blog_post">
                        <ul class="list-inline">
                            <li class="col-md-4"><a href="#">
                                <img class="img-responsive" src="images/blog-image-2.jpg" alt="gallery 2" /></a>
                            </li>
                            <li class="col-md-8">
                                <div class="pull-left">
                                    <span class="blog_header">СТАТЬЯ 2</span><br/>
                                    <!-- <span>Posted by : <a class="link_orange" href="#"><span class="txt_orange">Mary</span></a></span> -->
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-orange" href="#" role="button">Читать полностью</a>
                                </div>
                                <div class="clearfix"> </div>
                                <p class="blog_text">
                                        Morbi imperdiet ipsum sit amet dui pharetra, vulputate porta neque tristique. Quisque id turpis tristique, venenatis erat sit amet, venenatis turpis. Ut tellus ipsum, posuere bibendum [...]
                                </p>
                            </li>
                        </ul>
                    </div><!-- /.blog_post 2 -->

                    <div class="aqualuks_clear"></div>

                    <div class="col-sm-5 col-md-6 blog_post">
                        <ul class="list-inline">
                            <li class="col-md-4"><a href="#">
                                <img class="img-responsive" src="images/blog-image-2.jpg" alt="gallery 3" /></a>
                            </li>
                            <li class="col-md-8">
                                <div class="pull-left">
                                    <span class="blog_header">СТАТЬЯ 3</span><br/>
                                    <!-- <span>Posted by : <a class="link_orange" href="#"><span class="txt_orange">Julia</span></a></span> -->
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-orange" href="#" role="button">Читать полностью</a>
                                </div>
                                <div class="clearfix"> </div>
                                <p class="blog_text">
                                        Fusce molestie tellus risus, id commodo turpis convallis id. Morbi mattis sapien sapien, vitae lacinia ante interdum sit amet. Praesent eget varius diam, ac tempor est. Mauris at scelerisque magna [...]
                                </p>
                            </li>
                        </ul>
                    </div><!-- /.blog_post 3 -->

                    <div class="col-sm-5 col-md-6 blog_post">
                        <ul class="list-inline">
                            <li class="col-md-4">
                                <a href="#">
                                    <img class="img-responsive" src="images/blog-image-1.jpg"  alt="gallery 4" />
                                </a>
                            </li>
                            <li class="col-md-8">
                                <div class="pull-left">
                                    <span class="blog_header">СТАТЬЯ 4</span><br/>
                                    <!-- <span>Posted by : <a class="link_orange" href="#"><span class="txt_orange">Linda</span></a></span> -->
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-orange" href="#" role="button">Читать полностью</a>
                                </div>
                                <div class="clearfix"> </div>
                                <p class="blog_text">
                                    In venenatis sodales purus a cursus. Ut consectetur, libero ac elementum tristique, enim ante aliquet mauris, scelerisque congue magna neque ac purus. Aliquam facilisis volutpat odio [...]
                                </p>
                            </li>
                        </ul>
                    </div> <!-- /.blog_post 4 -->

                </div>
            </div>
        </div>

        <div id="aqualuks-contact">
            <div class="container">
                <div class="row">
                    <div class="aqualuks-line-header head_contact">
                        <div class="text-center">
                            <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">СВЯЗАТЬСЯ С НАМИ</span>
                            <hr class="team_hr team_hr_right hr_gray"/>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="aqualuks-contact-map" id="map-canvas"> </div>
                        <div class="clearfix"></div>
                        <!-- <i>You can find us on 123 Dagon Studio, Yankin Street, <span class="txt_orange">Digital Estate</span> in Yangon.</i> -->
                    </div>
                    <div class="col-md-4 contact_right">
                        <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit pendisse as a molesti.</p>
                        <p><i class='fa fa-map-marker'></i> бул. Шевченка, 352 Черкаси, Украина 18000</p>
                        <p><i class='fa fa-phone'></i> +38-0472-56-96-99</p>
                        <p><i class='fa fa-phone'></i> +38-097-293-54-57</p>
                        <p><i class='fa fa-envelope' alt="phone"/></i>aqualuks.filters@gmail.com</p>
                        <!-- <p><img src="images/globe.png" alt="icon 3" /><a class="link_orange" href="#"><span class="txt_orange">www.company.com</span></a></p> -->
                        <form class="form-horizontal" action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Ваше Имя..." maxlength="40" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Ваш Email..." maxlength="40" />
                            </div>
                            <div class="form-group">
                                <textarea  class="form-control" style="height: 130px;" placeholder="Введите Ваше сообщение"></textarea>
                            </div>
                            <button type="submit" class="btn btn-orange pull-right">SEND</button>
                        </form>

                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /#aqualuks-contact -->


        <div class="aqualuks-tweets">
            <div class="container">
                <div class="row" style="margin-top:20px;">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-1">
                                <img src="assets/quote.png" alt="icon" />
                        </div>
                        <div class="col-md-7 tweet_txt" >
                                <span>Мы познаём ценность воды лишь когда колодец пересыхает.</span>
                                <br/>
                                <span class="twitter_user">Benjamin Franklin</span>
                        </div>
                        <div class="col-md-2">
                        </div>
                 </div><!-- /.row -->
            </div><!-- /.container -->
        </div>

        <div class="aqualuks-partners" >
            <div class="container">
                <div class="row">


                    <div class="aqualuks-line-header" >
                        <div class="text-center">
                            <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">НАШИ ПАРТНЕРЫ</span>
                            <hr class="team_hr team_hr_right hr_gray" />
                        </div>
                    </div>
                    <div class="clearfix"></div>


                    <div class="text-center">

                        <div style="margin-top:60px;">
                            <ul class="list-inline">
                                <li class="col-sm-2 col-md-2 aqualuks-partner-item">
                                    <a href="#"><img src="assets/aquafilter.jpg" class="img-responsive" alt="partner 1" /></a>
                                </li>
                                <li class="col-sm-2 col-md-2 aqualuks-partner-item">
                                    <a href="#"><img src="images/partner2.jpg" class="img-responsive" alt="partner 2" /></a>
                                </li>
                                <li class="col-sm-2 col-md-2 aqualuks-partner-item">
                                    <a href="#"><img src="images/partner3.jpg" class="img-responsive" alt="partner 3" /></a>
                                </li>
                                <li class="col-sm-2 col-md-2 aqualuks-partner-item">
                                    <a href="#"><img src="images/partner4.jpg" class="img-responsive" alt="partner 4" /></a>
                                </li>
                                <li class="col-sm-2 col-md-2 aqualuks-partner-item">
                                    <a href="#"><img src="images/partner5.jpg" class="img-responsive" alt="partner 5" /></a>
                                </li>
                                <li class="col-sm-2 col-md-2 aqualuks-partner-item">
                                    <a href="#"><img src="images/partner6.jpg" class="img-responsive" alt="partner 6" /></a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="aqualuks-footer" >
            <div class="container">
                <div class="row">
                    <div class="text-center">

                        <div class="footer_container">
                            <ul class="list-inline">
                                <li>
                                    <a href="https://plus.google.com/+AqualuksUa">
                                      <span class="social-icon-fb"><i class='fa fa-google-plus fa-2x'></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://vk.com/aqualuks">
                                      <span class="social-icon-rss"><i class='fa fa-2x fa-vk'></i></span>
                                    </a>
                                </li>
                                <!-- <li> -->
                                    <!-- <a href="#"> -->
                                        <!-- <span class="social-icon-twitter"></span> -->
                                    <!-- </a> -->
                                <!-- </li> -->
                                <!-- <li> -->
                                    <!-- <a href="#"> -->
                                        <!-- <span class="social-icon-linkedin"></span> -->
                                    <!-- </a> -->
                                <!-- </li> -->
                                <!-- <li> -->
                                    <!-- <a href="#"> -->
                                        <!-- <span class="social-icon-dribbble"></span> -->
                                    <!-- </a> -->
                                <!-- </li> -->
                            </ul>
                            <div class="height30"></div>
                            <a class="btn btn-lg btn-orange" href="#" role="button" id="btn-back-to-top">Наверх</a>
                            <div class="height30"></div>
                        </div>
                        <div class="footer_bottom_content">
                        	Copyright © 2014 <a href="#">Aqualuks</a>
                        	<!-- - Design: <a href="http://www.aqualuks.com">aqualuks</a> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- <script src="js/jquery.min.js" type="text/javascript"></script> -->
        <!-- <script src="js/bootstrap.min.js"  type="text/javascript"></script> -->
        <!-- <script src="js/stickUp.min.js"  type="text/javascript"></script> -->
        <!-- <script src="js/colorbox/jquery.colorbox-min.js"  type="text/javascript"></script> -->
        <!-- <script src="js/aqualuks_script.js"  type="text/javascript"></script> -->
<!-- aqualuks 395 urbanic -->
<!--
    Free HTML5 Templates
    http://www.aqualuks.com
-->
    </body>
</html>
