.form= simple_form_for @order do |f|
  - if current_user
    =f.input :customer_name, input_html: { value: @order.user.name }
    =f.input :address, input_html: { value: @order.user.address }
    =f.input :email, input_html: { value: @order.user.email }
    =f.input :phone, input_html: { value: @order.user.phone }
  - else
    =f.input :customer_name
    =f.input :address
    =f.input :email
    =f.input :phone
  =f.input :comment
  =f.button :submit
  =link_to 'Cancel', order_path(@order), method: :delete, class: 'btn'
