// *= require font-awesome
@import 'bootstrap';
body, html { overflow-x:hidden; }

body {
    background-color: #ffffff;
    font-family:  'Open Sans', Arial, Helvetice Neue, sans-serif;
    font-size: 12px;

	font-weight: 300;
	font-style: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, span, p { font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif; }

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.aqualuks_clear {
	clear: both;
}

.height30 {
	height: 30px;
}

.aqualuks-top-bar {
    min-height: 40px;
    background-color:#ffffff;
}

#home-title { display: none; }

video#bgvid {
  // position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  min-width: 100%;
  // min-height: 100%;
  width: 100%;
// //   // max-height: 100%;
  // height: 100%;
  z-index: -100;
  background-position: center center;
  background-size: contain;
  // object-fit: cover;
//   // background: url(polina.jpg) no-repeat;
}

.aqualuks-top-menu {
    min-height:110px;
    background-color:#ffffff;
    z-index: 5000;
    width:100%;
    box-shadow: -1.25rem 0 0 0 #fcc001, 0 -0.3125rem 0.625rem 0.3125rem black;
    .navbar-brand img {
      width: 225px;
      margin-top: -15px;
    }
}

.aqualuks-top-menu .navbar-toggle {
    margin-top: 38px;
}

.aqualuks-top-menu .navbar-brand {
    padding: 0;
    margin: 30px 0 0 0;
}

/* ------ Carousel ----- */

#aqualuks-carousel {
    background: url('../images/aqualuks_carousel_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    margin-bottom:0;
    height: 570px;
}

#aqualuks-carousel .carousel-caption {
    z-index: 10;
    h1, p {
      color: #333;
    }
}

#aqualuks-carousel .item {
    height: 570px;
}
#aqualuks-carousel .carousel-inner > .item > img {
    position: absolute;
    min-width: 100%;
    height: 570px;
    left: 0;
    top: 0;
}

@media (min-width: 768px) {
    #aqualuks-carousel {
      height: 415px;
      .item { height: 415px; }
      .carousel-caption {
        padding-bottom: 140px;
        right: 20%;
        left: 20%;
        p {
          margin-bottom: 20px;
          line-height: 1.4;
          font-size: 21px;
        }
      }
    }
}

@media (max-width: 768px) {
    #aqualuks-carousel {
      height: 295px;
      .item {height: 295px;}
      .carousel-caption {
        padding-bottom: 120px;
      }
    }
}

// @media (max-width: 1024px) {
//     #aqualuks-carousel {
//         background: url('../images/aqualuks_carousel_bg_s.jpg') no-repeat center center;
//         -webkit-background-size: cover;
//         -moz-background-size: cover;
//         -o-background-size: cover;
//         background-size: cover;
//         overflow-x: hidden;
//         margin-bottom:0;
//         height: 500px;
//     }
// }

@media (min-width: 1024px) {
    #aqualuks-carousel {
      .carousel-caption {
        padding-bottom: 190px;
      }
      .item {height: 570px;}
        height: 570px;
        background: url('../images/aqualuks_carousel_bg_s.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-x: hidden;
        margin-bottom:0;
    }
}

/* ------ End of Carousel ----- */

/* ------ Welcome & Slogan ------ */
.aqualuks-welcome {
    border-bottom: 1px solid #cccccc;
    min-height: 230px;
}

.aqualuks-slogan {
    font-family:  'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 42px;
    margin: 60px 0;
    color: #333333;
}

.aqualuks-service {
    margin-bottom: 100px;
    margin-top: 30px;
}

.aqualuks-service-item {
    font-family:  'Open Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
}


.aqualuks-service-item p {
    font-weight: lighter;
    text-align: justify;
    margin-top: 25px;
    font-size: 14px;
    color: #343434;
}

.subheader {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-top: 12px;
    font-size: 12px;
    color: #0080C4;
}


.btn-orange {
    background-color: #0094E3;
    border-bottom:2px solid #0078B8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color:#ffffff;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open .dropdown-toggle.btn-orange {
    background-color: #0078B8;
    color:#ffffff;
}

.btn-green {
    background-color:#2ecc71;
    border-bottom:2px solid #27ae60;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color:#ffffff;
}

.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
    background-color: #27ae60;
    color:#ffffff;
}

.nav > li > a {
    padding: 10px 20px;
    font-weight: 600;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #0094E3;
    color:#fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #0094E3;
    color:#fff;
}


.nav > li > a {
    color: #929292;
}
.navbar-default {
    background-color:#fff;
    border:none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #0094E3;
    color:#fff;
}

.navbar {
  margin-bottom: 0px;
}

.aqualuks-service-item-header {
    margin-left: -10px;
    padding: 16px 20px 20px;
    font-weight: bold;
    display: inline-block;
}

.aqualuks-header-orange {
    background-color:#ff7600;
    min-width: 298px;
    height: 67px;
    color: #fff;

}

.team_hr {
    border: 1px solid #fff;
    width: 39.5%;
    float: left;
}

.team_hr_left {
    margin-right: 20px;
    margin-left: 15px;
}

.team_hr_right {
    margin-left: 30px;
}

.hr_gray {
    border: 1px solid #cccccc;
}

.aqualuks-team {
    background: asset_url('background.png') ;
    font-family:  'Open Sans', sans-serif;
    min-height:590px;
    color:#ffffff;

}
.aqualuks-line-header {
    // margin-top:100px;
    margin-bottom:80px;
}

.member-thumb:hover .thumb-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.member-thumb {
    position: relative;
    overflow: hidden;
}

.member-thumb .thumb-overlay {
    background-color: rgba(220, 157, 102, 0.8);
    position: absolute;
    visibility: hidden;
    padding-top: 35%;
    padding-left: 25%;
    height: 100%;
    width: 100%;
    opacity: 0;
    right: 0;
    top: 0;
}

.thumb-overlay a {
    float:left;
    margin-right: 5px;
}



.team-inner {
    margin-top:10px;
}

.team-inner-header {
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    font-size:16px;
}

.team-inner-subtext {
    font-weight:normal;
    font-size:12px;
}

.row_team {
    margin-left:-50px;
    margin-top:70px;
}

.row_team li {
    list-style: none;
}

.aqualuks-project-box {
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor:pointer;
    height: 200px;
    width: 200px;
}

.aqualuks-project-box:hover .project-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.project-overlay {
    background : rgba(0,0,0,.75);
    border : 2px solid #ff7600;
    visibility: hidden;
    position: absolute;
    text-align:center;
    padding-top:40px;
    color: #ffffff;
    height: 100%;
    width: 100%;
    opacity: 0;
    right: 0;
    top: 0;
}


.project-overlay hr {
    width : 70%;

}

.aqualuks-project-gallery li {
    margin:15px;
}

.txt_darkgrey {
    color: #333333;
}

.txt_orange {
    color: #e67e22;
}

.txt_slogan {
    font-size:14px;
    color:#929292;
}

.aqualuks-line-header span {
    font-size: 18px;
    float :left;
    margin-top: 10px;
}

.team_box  div {
    text-align: center;
    padding-top: 100px;
}

.span_blog {
    margin-bottom: 80px;
}

.blog_post {
    color: #333333;
    padding: 10px;
}

.blog_header {
    font-weight: bold;
    font-size: 16px;
}

.blog_text {
    text-align: justify;
    font-size: 14px;
    margin-top: 20px;
}

#aqualuks-contact {
	// margin-top:100px;
	// border-top: 1px solid #cccccc;
	font-size:14px;
}
.aqualuks-contact-map {
    margin-bottom: 15px;
    height: 378px;

}

.head_contact {
    padding-bottom:80px;
    margin-bottom:0;
}

.contact_right i {
	margin-right:5px;
  color: #0094E3;
}

.contact_right form {
	padding-left:15px;
	padding-right:15px
}

.tweet_txt {
	border-left:2px solid #ffffff;
	min-height:160px;
}

.twitter_user {
	color: #FFFF33;
	font-size: 14px;
	float: right;
}

.aqualuks-partners {
	border-top: 2px solid #cccccc;
}

.aqualuks-partners .aqualuks-partner-item {
    margin-bottom: 5px;
}

.aqualuks-footer {
	border-top: 2px solid #cccccc;
	margin-top: 100px;
}

.footer_container {
	margin-top:60px;
	margin-bottom:20px;
}

.footer_bottom_content {
	margin: auto;
	margin-bottom: 30px;
	font-size: 14px;
	color:#333333;
}

.social-icon-fb {
    background: url('../images/social-icon-fb.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-fb {
    background: url('../images/social-icon-fb-over.png') no-repeat;
}

.social-icon-rss {
    background: url('../images/social-icon-rss.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-rss {
    background: url('../images/social-icon-rss-over.png') no-repeat;
}

.social-icon-twitter {
    background: url('../images/social-icon-twitter.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-twitter {
    background: url('../images/social-icon-twitter-over.png') no-repeat;
}

.social-icon-linkedin {
    background: url('../images/social-icon-linkedin.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-linkedin {
    background: url('../images/social-icon-linkedin-over.png') no-repeat;
}

.social-icon-dribbble {
    background: url('../images/social-icon-dribbble.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-dribbble {
    background: url('../images/social-icon-dribbble-over.png') no-repeat;
}

ul.aqualuks-project-gallery  li  a img:hover {
    border: 3px solid #ff7600;
}

.aqualuks-gallery-category a {
	color:#333333;
}

.aqualuks-gallery-category a.active {
	color:#e67e22;
	text-decoration:none;
}

.aqualuks-gallery-category a:focus {
	color:#e67e22;
	text-decoration:none;
}

.aqualuks-gallery-category a:hover {
	color:#e67e22;
	text-decoration:none;
}

.link_orange:hover {
    text-decoration:none;
}
.aqualuks-project-gallery {
    margin:0 0 0 0;
    margin-top:30px;
    margin-left: -40px;
}
.aqualuks-project-gallery li {
    list-style:none;
    margin-bottom:25px;
}
.aqualuks-project-gallery li img {
  cursor: pointer;
}

.aqualuks-tweets {
    background-color: #8996a0;
    min-height:200px;
    font-family:  'Open Sans', sans-serif;
    font-size:20px;
    color:#ffffff;
    margin-top:100px;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-style: italic;
}

.btn_loadmore {
	margin-top:30px;
	margin-bottom:80px;
}

.blog_box {
	margin-left: -12px;
}

@media (min-width:991px) and (max-width:1200px) {
    .aqualuks-project-box, .project-overlay {
        height:170px;
        width:170px;
    }

    .aqualuks-project-gallery {
        margin-left: -70px;
    }

    .aqualuks-service-item-header {
        padding: 16px 10px 20px;
    }

    .aqualuks-header-orange {
        min-width: 230px;
    }

    .team_box,  .team_box_over {
        height:220px;
        width:220px;
    }

}


@media (max-width:991px) {
    .team-inner {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .aqualuks-btn-read-more {
        float:right;
        margin-bottom :40px;
    }
}


@media (min-width:768px) and (max-width:990px) {
    .member-thumb .thumb-overlay {
        padding-left: 30%;
    }
    .aqualuks-project-box , .project-overlay {
       height:130px;
       width:130px;
       padding-top: 0px;
    }

    .aqualuks-project-gallery {
       margin-left: 10px;
    }

    .blog_box{
       margin-right: -140px;
    }
}


@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

@media (max-width: 768px) {
    .member-thumb .thumb-overlay {
        padding-left: 40%;

    }
    .aqualuks-btn-read-more {
            float:right;
            margin-bottom :40px;
      }
}

@media (max-width: 380px) {
    .member-thumb .thumb-overlay {
            padding-left: 30%;

    }
	.aqualuks-service-item-header {
		font-size: 16px;

		padding: 23px 10px 22px;
	}
	.aqualuks-header-orange {
		min-width: 0px;
	}

}

@media (min-width:991px) and (max-width: 1200px) {
	 .team_hr {
		width: 37%;
	}
}

@media (min-width:683px) and ( max-width: 991px) {
	 .team_hr {
		width: 33%;
	}
}

@media (min-width:585px) and ( max-width: 683px) {
        .member-thumb .thumb-overlay {
            padding-left: 25%;

        }
	 .team_hr {
		width: 30%;
	}
}

@media (min-width:536px) and ( max-width: 585px) {
	 .team_hr {
		width: 28%;
	}
}

@media  (min-width:410px) and  ( max-width: 536px) {
	 .team_hr {
		width: 21%;
	}
}

@media  ( max-width: 410px) {
	 .team_hr {
		width: 11%;
	}
}
