.center-products { margin-left: 40px; }
.product {
  background: white;
  padding: 10px;
  margin-top: 20px;
  margin-left: 8px;
  border: 1px solid #ddd;
  height: 350px;
  width: 260px;
  float: left;
  line-height: 1;

  &:hover {
    border: 1px solid #aaa;
  }
  .product-image img {
    height: 200px;
    width: 237px;
  }
  .product-price { margin-top: 7px;}
}
